.header img {
    width: 100px;
    background: #555;
}
.header h1 {
    text-align: center;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.javaButton{
    color: #fff; 
    font-size: 20px;
    text-decoration: none; 
    user-select: none; 
    background: rgb(77, 34, 194); 
    padding: .8em 2em; 
    outline: none; 
    text-align: center;
}

.info p {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
    margin-top: 100px;
    text-align: center;
}

.subscribe p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subscribe button {
    color: #000000; 
    font-size: 20px;
    text-decoration: none; 
    user-select: none; 
    background: rgb(243, 150, 255); 
    padding: .8em 2em; 
    outline: none; 
    text-align: center;
}

.subscribe {
    margin-top: 50px;
    text-align: center;
}

.odkAuth img {
    width: 50px;
    margin-top: 5px;
}

.odkAuth p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.odkAuth input {
    margin: 2px;
}

.loginButton {
    background-color: rgb(213, 116, 26);
    color: rgb(254, 253, 252);
    border-width: 0px;
    margin: 5px;
    width: 150px;
    font-size: 20px;
}

.odkAuth {
    width: 180px;
    border: 5px solid rgb(213, 116, 26);
    text-align: center;
    margin: 50px auto;
}